*{transition: none;}
p{text-align: justify;}
img{max-width: 100%;}
body{max-width: 768px; margin-right: auto; margin-left: auto;}
.navbar{box-shadow: none; padding: 1em 1em;}


.dropdown-menu{
	border-radius: 0px; 
	padding: 0px;
	margin: 0px;
}
.navbar .dropdown-menu a {
    padding: 5px 10px;}


.navbar.navbar-dark .breadcrumb .nav-item .nav-link, .navbar.navbar-dark .navbar-nav .nav-item .nav-link {
    color: #000 !important;
    }
.navbar.navbar-dark .breadcrumb .nav-item .nav-link, .navbar.navbar-dark .navbar-nav .nav-item .nav-link:hover{
  color: teal !important; background-color: ; border:1px solid teal; 
}
.navbar-dark .navbar-brand, .navbar-dark .navbar-brand:focus{
    color: teal; font-size: x-large; font-weight: bold; }

/*.navbar.navbar-dark .breadcrumb .nav-item.active > .nav-link:hover{
    color: teal !important;
    }*/
.navbar.navbar-dark .breadcrumb .nav-item .nav-link, .navbar.navbar-dark .navbar-nav .nav-item .nav-link{transition: none;}
.navbar.navbar-dark form .md-form input {
    border-bottom: 1px solid #000;
}
.navbar-dark .navbar-brand:hover{color: teal !important;}


.navbar.navbar-dark form .md-form .form-control {
    color: teal;
    }

h1{color: teal; font-weight: bolder;}
.h1, h1 {font-size: 1.5rem;}
.h2, h2 {font-size: 1.2rem;}
.h3, h3 {font-size: 1rem;}
a.dropdown-item.waves-effect.waves-light:hover{background-color: teal; color: #fff !important;}
.navbar .dropdown-menu a{color:#000 !important;}
li.nav-item{width: 80px; text-align: center;}

  @media (max-width: 992px) {
    li.nav-item { text-align: left;}
    .navbar-toggler {background: teal; border-bottom-left-radius: 30px; border-top-left-radius: 30px; }
    .navbar-dark .navbar-brand{font-size: xx-large;}
   }

#frame{width: 100px; dispaly:block; margin: 0px auto;}

.social-icons {
   /* margin-top: 1em;*/
    float: right;
}
.social-icons a i {
    width: 32px;
    height: 32px;
    background:#000  url(../img/img-sprite.png) no-repeat 0px 0px;
    display: inline-block;
	margin:0 0.2em;
	border-radius: 20px;
/*	transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;*/
}
.social-icons i.icon:hover {
  background: #3b5998 url(../img/img-sprite.png) no-repeat 0px 0px;
      transform: rotateY(360deg);
}
.social-icons i.icon {
    background-position: 0px 0px;
}
.social-icons i.icon1 {
    background-position: -32px 0px;
}
.social-icons i.icon1:hover {
  background: #0aa9f0 url(../img/img-sprite.png) no-repeat -32px 0px;
      transform: rotateY(360deg);
}
.social-icons i.icon2 {
    background-position: -64px 0px;
}
.social-icons i.icon2:hover {
  background: #860404 url(../img/img-sprite.png) no-repeat -64px 0px;
      transform: rotateY(360deg);
}
.social-icons i.icon3 {
    background-position: -96px 0px;
}
.social-icons i.icon3:hover {
  background: #860404 url(../img/img-sprite.png) no-repeat -96px 0px;
      transform: rotateY(360deg);
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: teal;}

.nav-pills .nav-link {
    /*border-radius: .25rem;*/
    border-radius: 0rem;

}
a, a.disabled:hover, a:disabled:hover {
    /*color: #007bff;*/
    color: teal;
    /*font-size: medium;*/
    font-weight: bolder;
    }
.form-control::-moz-placeholder {

    color: teal;
    opacity: 1;
  }
  .form-control::placeholder {

    color: teal;
    opacity: 1;

}

img.card-img-top{
  display:block; margin-right:auto; margin-left:auto;
  border: 30px solid teal;
}
}
img.card-img-top .album{
  border: 30px solid teal;
  display:block; margin-right:auto; margin-left:auto;
}
img.frame{
  display: block; 
  width: 100px;
  margin: 0px auto; 
  border:5px solid #fff; 
}
img.bg-img{
  padding: 10px 0px;
}
p.intro{line-height: 0.5em;}
p.intro a:link, a{color: #000;}
a:hover{color: #000; text-decoration: underline;}
span.meta{display:block; background: #ccc;}
